

.portfolio{
    transition: transform 0.5s ease;
    color: orange;
  }
  
  
  .portfolio:hover {
    transform: scale(2);
  }

  .portfolio:active  {
    font-size: 50px;
  }

.about {
  transition: transform 0.5s ease;
}


.about:hover {
  transform: scale(2);
}

.about:active {
  font-size: 50px;


.contact {
    transition: transform 0.5s ease;
}

.contact:hover {
    transform: scale(2);

}

.contact:active {
    font-size: 50px;

}



}

